
<div *ngIf="hero" class="form-horizontal">
    <h2>{{hero.name}} details!</h2>
    <div class="form-group">
        <div *ngIf="!newHero">
            <label class="col-sm-2 control-label">id: </label>
            <div class="col-sm-10">
                {{hero._id}}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Name: </label>
        <div class="col-sm-10">
            <input class="form-control" [(ngModel)]="hero.name" placeholder="name" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Power: </label>
        <div class="col-sm-10">
            <input class="form-control" [(ngModel)]="hero.power" placeholder="power" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Amount People Saved: </label>
        <div class="col-sm-10">
            <input class="form-control" [(ngModel)]="hero.amountPeopleSaved" placeholder="amountPeopleSaved" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Birth: </label>
        <div class="col-sm-10">
            <input class="form-control" [(ngModel)]="hero.birth" placeholder="Birth date" type=""/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Death: </label>
        <div class="col-sm-10">
            <input class="form-control" [(ngModel)]="hero.death" placeholder="Death date" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Gender: </label>
        <div class="col-sm-10">
            <select [(ngModel)]="hero.gender" id="gender-select" class="chosen-select-deselect">
                <option value=" " *ngIf="hero.gender !== ' '"></option>

                <option value=" " *ngIf="hero.gender === ' '" selected ></option>
                <option value="male" *ngIf="hero.gender === 'male'" selected >Male</option>
                <option value="female" *ngIf="hero.gender === 'female'" selected >Female</option>
                <option value="other" *ngIf="hero.gender === 'other'" selected >Other</option>

                <option value="male" *ngIf="hero.gender !== 'male'">Male</option>
                <option value="female" *ngIf="hero.gender !== 'female'">Female</option>
                <option value="other" *ngIf="hero.gender !== 'other'">Other</option>

                
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Father: </label>
        <div class="col-sm-4">
            <select [(ngModel)]="hero.father" id="father-select" class="chosen-select" >
                <template *ngIf="hero.father">
                    <option value={{hero.father._id}} selected="selected">
                        {{hero.father.name}}
                    </option>
                </template>
               
                <option *ngFor="let other of getOther()" value={{other._id}}>
                    {{other.name}}
                </option>
            </select>
        </div>

        <label class="col-sm-2 control-label">Mother: </label>
        <div class="col-sm-4">
            <select [(ngModel)]="hero.mother" id="mother-select" class="chosen-select" >
                <template *ngIf="hero.father">
                    <option value={{hero.mother._id}} selected="selected">
                        {{hero.mother.name}}
                    </option>
                </template>
                <option *ngFor="let other of getOther()" value={{other._id}}>
                    {{other.name}}
                </option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Spouse: </label>
        <div class="col-sm-10">
            
            <select [(ngModel)]="hero.spouse" data-placeholder="Choose spouse"  id="spouse-select" class="chosen-select">
                <option value=""></option>
                <option *ngFor="let aSpouse of hero.spouse" value={{aSpouse._id}}  selected="selected">
                    {{aSpouse.name}}
                </option>
                <option *ngFor="let other of getOther()" value={{other._id}}>
                    {{other.name}}
                </option>
                
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Child: </label>
        <div class="col-sm-10">
            
            <select data-placeholder="Child" id="child-select" class="chosen-select" multiple>
                <option value=""></option>
                <option *ngFor="let child of hero.child" value={{child._id}}  selected="selected">
                    {{child.name}}
                </option>
                <option *ngFor="let other of getOther()" value={{other._id}}>
                    {{other.name}}
                </option>
                
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button (click)="goBack()" class="btn btn-default">Back</button>
            <button (click)="save()" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
<script>
    $(function() {
      $('.chosen-select').chosen();
      $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
  });
</script>